@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.contactDiv,
.shareashelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 983px;
  left: 263px;
  display: inline-block;
}
.contactDiv,
.shareashelfLtdDiv,
.termsOfService {
  left: 364px;
}
.shareashelfLtdDiv,
.termsOfService {
  left: 462px;
}
.shareashelfLtdDiv {
  left: 40px;
}
.submenu {
  margin-left: 50px;
  text-decoration: none;
  color: var(--color-black);
}
.submenu a{
  text-decoration: none;
  color: var(--color-black);
}
.fieldDiv,
.frameDropdown {
  text-decoration: none;
  color: var(--color-black);
  position: absolute;
  top: 0;
  left: 16px;
}
.frameDropdown a{
  color: var(--color-black);
}
.fieldDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
}
.mobileMenuDiv {
  position: absolute;
  height: 5.87%;
  width: 97.74%;
  top: 7.34%;
  right: 0;
  bottom: 86.79%;
  left: 2.26%;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelfDiv {
  position: absolute;
  top: 0;
  left: 6px;
  display: flex;
  align-items: center;
  width: 254px;
  height: 60px;
}
.rectangleDiv {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 260px;
  height: 792px;
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}
.floatingLabelDiv,
.trailingDataP {
  position: absolute;
  display: flex;
  align-items: center;
}
.floatingLabelDiv {
  top: 0;
  left: 104px;
  background-color: var(--color-gray-200);
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-turquoise);
}
.trailingDataP {
  margin: 0;
  height: calc(100% - 784px);
  top: 60px;
  right: 24px;
  bottom: 724px;
  letter-spacing: 0.4px;
  line-height: 16px;
  width: 188px;
}
.trailingIconFormCheck {
  position: absolute;
  top: calc(50% - 344px);
  right: 224px;
}
.trailingDataP1 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 96px;
  right: 24px;
  bottom: 688px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck1 {
  position: absolute;
  top: calc(50% - 308px);
  right: 224px;
}
.trailingDataP2 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 132px;
  right: 24px;
  bottom: 652px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: calc(50% - 272px);
  right: 224px;
}
.trailingDataP3,
.trailingDataP4 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 168px;
  right: 12px;
  bottom: 616px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP4 {
  top: 204px;
  bottom: 580px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: calc(50% - 200px);
  right: 224px;
}
.trailingIconFormCheck4 {
  top: calc(50% - 236px);
}
.trailingDataP5 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 240px;
  right: 12px;
  bottom: 544px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: calc(50% - 164px);
  right: 224px;
}
.productCategoriesH6 {
  margin: 0;
  top: 22px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong,
.collaborationDatesH6,
.productCategoriesH6 {
  position: absolute;
  left: 12px;
  color: var(--color-black);
  display: inline-block;
}
.collaborationDatesH6 {
  margin: 0;
  top: 550px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.augustStrong {
  top: 584px;
  font-weight: 700;
}
.lineDiv {
  position: absolute;
  top: 271.5px;
  left: 11.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.trailingDataP6 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 322px;
  right: 24px;
  bottom: 462px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck6 {
  position: absolute;
  top: calc(50% - 82px);
  right: 224px;
}
.trailingDataP7 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 358px;
  right: 24px;
  bottom: 426px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck7 {
  position: absolute;
  top: calc(50% - 46px);
  right: 224px;
}
.trailingDataP8 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 394px;
  right: 24px;
  bottom: 390px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck8 {
  position: absolute;
  top: calc(50% - 10px);
  right: 224px;
}
.trailingDataP10,
.trailingDataP9 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 434px;
  right: 12px;
  bottom: 350px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP10 {
  top: 470px;
  bottom: 314px;
}
.trailingIconFormCheck10,
.trailingIconFormCheck9 {
  position: absolute;
  top: calc(50% - -66px);
  right: 224px;
}
.trailingIconFormCheck10 {
  top: calc(50% - -30px);
}
.trailingDataP11 {
  margin: 0;
  position: absolute;
  height: calc(100% - 784px);
  top: 506px;
  right: 12px;
  bottom: 278px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingIconFormCheck11 {
  position: absolute;
  top: calc(50% - -102px);
  right: 224px;
}
.hostCategoriesH6 {
  margin: 0;
  position: absolute;
  top: 284px;
  left: 12px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.lineDiv1 {
  position: absolute;
  top: 537.5px;
  left: 11.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 237px;
  height: 1px;
}
.frameDiv,
.menuPackDiv {
  position: absolute;
  top: 165px;
  left: 6px;
  width: 260px;
  height: 800px;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-open-sans);
}
.frameDiv {
  top: -2px;
  left: 28px;
  width: 266px;
  height: 1018px;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}
.drawerCollDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 307px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.drawerCollDiv.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
