.vendorsInSW1 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 472px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.ameliaFineArt {
  margin: 0;
  position: absolute;
  top: 145px;
  left: 12px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 217px;
}
.frameDiv,
.frameDiv1,
.frameDiv2,
.frameDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-teal);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.frameDiv1,
.frameDiv2,
.frameDiv3 {
  left: 262px;
}
.frameDiv2,
.frameDiv3 {
  top: 275px;
  left: 0;
}
.frameDiv3 {
  left: 262px;
}
.frameDiv4,
.rectangleIcon4 {
  position: absolute;
  left: 0;
  width: 250px;
  height: 110px;
}
.rectangleIcon4 {
  top: 0;
  object-fit: cover;
}
.frameDiv4 {
  top: 550px;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-teal);
  box-sizing: border-box;
  overflow: hidden;
}
.luckyCeramicsB {
  position: absolute;
  top: 145px;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.frameDiv5 {
  position: absolute;
  top: 550px;
  left: 262px;
  border-radius: var(--br-2xs);
  border: 1px solid var(--color-teal);
  box-sizing: border-box;
  width: 250px;
  height: 110px;
  overflow: hidden;
}
.frameA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 90px;
  left: 12px;
  width: 512px;
  height: 660px;
  color: inherit;
}
.vendorsMatchTheFilters {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 12px;
  color: var(--color-turquoise);
  display: inline-block;
}
.closeIcon {
  position: absolute;
  height: 54.58%;
  width: 54.58%;
  top: 22.71%;
  right: 22.71%;
  bottom: 22.71%;
  left: 22.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeA {
  text-decoration: none;
  position: absolute;
  top: 12px;
  left: 484px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.vendorPopupDiv {
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 536px;
  height: 750px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
