@media only screen and (min-width: 2500px)  {
  .headerMainsiteDiv{
    width: 93.5% !important;
  }
  .groupButton{
    width: 5% !important;
  }
  .signUpA{
    left: 97% !important;
  }
  .rectangleDiv,
  .rectangleDiv1,
  .rectangleDiv2,
  .rectangleDiv3,
  .rectangleDiv4{
    left: 24% !important;
  }
  .whatIsShareAshelf{
    left: 29% !important;
  }
  .shareAshelfHelpsHobbyistsR{
    left: 25% !important;
  }
  .letsGetYouConnected{
    left: 44% !important;
  }
  .iconButton,
  .iconButton1,
  .iconButton2,
  .iconButton3{
    left: 47% !important;
  }
  .whatCanShareAshelfDoForYo{
    left: 29% !important;
  }
  .largeFABDiv,
  .largeFABDiv1{
    left: 39% !important;
  }
    .containerDiv1{
      left: 37% !important;
    }
  .iHaveSomethingToSell0,
  .ifYouHaveSpaceThatPeople{
      left: 30% !important;
  }
  .paintingIcon{
    left: 45% !important;
  }
  .ifYouHaveSomethingToSell{
    left: 30% !important;
  }
  .maybeYouSellHandmadeCosmet{
     left: 36% !important;
  }
  .howDoesItWork,
  .howDoesItWork1,
  .howDoesItWork2{
    left: 45% !important;
  }
  .ifYouLikeToShopLocalUma,
  .youMayBeAHairSalonOrYo,
  .perhapsYouWantToShopMore{
    left: 35% !important;
  }
  .lineDiv,
  .lineDiv1,
  .lineDiv2{
    width: 100% !important;
  }
  .howDoesRentmyshelfWork{
    left: 32% !important;
  }
  .noUpfrontFeesOrRentAComi{
    left: 25% !important;
  }
  .salesPersonIcon,
  .buildACommunity{
    width: 55% !important;
  }
  .shareLocationIcon{
    width: 52% !important;
  }
  .bookAppointmentIcon{
     width: 62% !important;
  }


}

@media only screen  and (max-width: 1440px) {
  .whatIsShareAshelf{
    left: 15% !important;
  }
  .shareAshelfHelpsHobbyistsR{
    left: 10% !important;
  }
  .letsGetYouConnected{
    left: 42% !important;
  }
  .iconButton,
  .iconButton1,
  .iconButton2,
  .iconButton3{
    left: 48% !important;
  }
  .whatCanShareAshelfDoForYo{
    left: 20% !important;
  }
  .largeFABDiv,
  .largeFABDiv1{
    left: 35% !important;
  }
  .containerDiv1{
    left: 40% !important;
  }
  .ifYouHaveSomethingToSell,
  .ifYouHaveSpaceThatPeople{
    left: 17% !important;
  }
  .maybeYouSellHandmadeCosmet{
    left: 27% !important;
  }

  .howDoesItWork,
  .howDoesItWork1,
  .howDoesItWork2{
    left: 45% !important;
  }

}

@media only screen and (max-width: 1024px){

  .signUpA{
    width: 9% !important;
    left: 90% !important;
  }
  
  .rectangleDiv,
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4 {
  width: 88% !important;
}
  .whatIsShareAshelf{
    left: 5% !important;
  }
  .shareAshelfHelpsHobbyistsR,
  .howDoesRentmyshelfWork{
    left: 10% !important;
  }
  .letsGetYouConnected{
    left: 42% !important;
  }
  .iconButton,
  .iconButton1,
  .iconButton2,
  .iconButton3{
    left: 50% !important;
  }
  .whatCanShareAshelfDoForYo,
  .ifYouHaveSomethingToSell,
  .ifYouHaveSpaceThatPeople{
    left: 8% !important;
    width: 85% !important;
  }
  .largeFABDiv,
  .largeFABDiv1{
    left: 30% !important;
  }
  .containerDiv1{
    left: 40% !important;
  }
  .ifYouLikeToShopLocalUma{
    left: 20% !important;
  }
  .maybeYouSellHandmadeCosmet{
    left: 20% !important;
  }

  .howDoesItWork,
  .howDoesItWork1,
  .howDoesItWork2{
    left: 45% !important;
  }

  .noUpfrontFeesOrRentAComi{
    width: 80% !important;
  }


}





.maybeYouSellHandmadeCosmet {
  margin: 0;
  position: absolute;
  top: 2524px;
  left: 32%;
  font-size: var(--font-size-lg);
  line-height: 160%;
  font-family: var(--font-open-sans);
  display: inline-block;
  width: 720px;
}

.rectangleDiv {
  position: absolute;
  top: 2088px;
  left: 5%;
  border-radius: var(--br-xs);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 944px;
}
.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2 {
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
}
.rectangleDiv1 {
  position: absolute;
  top: 80px;
  left: 5%;
  border-radius: var(--br-xs);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 904px;
}
.rectangleDiv2 {
  top: 4136px;
}
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4 {
  position: absolute;
  left: 5%;
  border-radius: var(--br-xs);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15),
    0 2px 6px 2px rgba(0, 0, 0, 0.15);
  width: 90%;
  height: 944px;
}
.rectangleDiv3 {
  top: 3112px;
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
}
.rectangleDiv4 {
  top: 1064px;
  background-color: #d9d9d9;
}
.aSpan,
.shareSpan {
  font-weight: 900;
  font-family: var(--font-nunito);
}
.aSpan {
  font-weight: 500;
}
.span {
  color: var(--color-red);
}
.howDoesRentmyshelfWork,
.whatCanShareAshelfDoForYo {
  margin: 0;
  position: absolute;
  top: 16%;
  left: 25%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: inherit;
}
.howDoesRentmyshelfWork {
  top: 5316px;
  left: 27%;
  font-weight: 700;
  text-align: left;
}
.shareAshelfHelpsHobbyistsR {
  text-align: center;
  line-height: 36.83px;
  margin: 0;
  position: absolute;
  top: 565px;
  left: 10%;
  font-size: var(--font-size-2xl);
  display: inline-block;
  width: 80%;
}
.ifYouLikeToShopLocal {
  margin-block-start: 0;
  margin-block-end: 0;
}
.umarketEnablesYouToDiscove {
  margin: 0;
  color: var(--color-turquoise);
}
.ifYouLikeToShopLocalUma {
  margin: 0;
  position: absolute;
  top: 4488px;
  left: 32%;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  color: var(--color-gray-700);
}
.ifYouHaveSpaceThatPeople {
  position: absolute;
  top: 3472px;
  left: 25%;
  color: var(--color-gray-700);
}
.iHaveSomethingToSell,
.iHaveSomethingToSell0,
.ifYouHaveSomethingToSell,
.ifYouHaveSpaceThatPeople {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
}
.ifYouHaveSomethingToSell {
  position: absolute;
  top: 2396px;
  left: 25%;
  color: var(--color-gray-700);
}
.iHaveSomethingToSell,
.iHaveSomethingToSell0{
  position: relative;
}
.containerDiv {
  position: absolute;
  width: 102%;
  top: calc(50% - 25px);
  right: 0.11%;
  left: 0.11%;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-2xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.largeFABDiv {
  position: absolute;
  top: 1440px;
  left: 37%;
  box-shadow: var(--m3-elevation-light-3);
  width: 473px;
  height: 51px;
  border-radius: 40px;
  color: var(--color-red);
}
.containerDiv1,
.containerDiv2 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-2xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.containerDiv1 {
  width: 20.97%;
  top: calc(50% - 1794px);
  right: 39.51%;
  left: 40%;
  color: var(--color-red);
}
.containerDiv2 {
  width: 179.5%;
  top: calc(50% - 25px);
  right: -35.94%;
  left: -35.94%;
}
.largeFABDiv1 {
  position: absolute;
  top: 1629px;
  left: 37%;
  box-shadow: var(--m3-elevation-light-3);
  width: 473px;
  height: 51px;
  color: var(--color-red);
}
.dealsWithPayment {
  margin: 0;
}
.maybeYouSellHandmadeCosmet,
.perhapsYouWantToShopMore,
.youMayBeAHairSalonOrYo {
  margin: 0;
  position: absolute;
  top: 2524px;
  left: 32%;
  font-size: var(--font-size-lg);
  line-height: 160%;
  font-family: var(--font-open-sans);
  display: inline-block;
  width: 720px;
}
.perhapsYouWantToShopMore,
.youMayBeAHairSalonOrYo {
  top: 3600px;
  text-align: left;
}
.perhapsYouWantToShopMore {
  top: 4616px;
}
.lineDiv,
.lineDiv1,
.lineDiv2 {
  position: absolute;
  top: 5119.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.lineDiv1,
.lineDiv2 {
  top: 6143.5px;
}
.lineDiv2 {
  top: 7167.5px;
}
.shareSpan1 {
  font-weight: 900;
  color: var(--color-red);
}
.aSpan1 {
  font-weight: 500;
}
.span1 {
  color: var(--color-teal);
}
.shelfSpan1 {
  font-weight: 900;
  color: var(--color-turquoise);
}
.whatIsShareAshelf {
  margin: 0;
  position: absolute;
  top: 336px;
  left: 22%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 1080px;
  font-family: inherit;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 2711px);
  left: 48%;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(1deg);
  transform-origin: 0 0;
}
.letsGetYouConnected {
  margin: 0;
  position: absolute;
  top: 855px;
  left: 44%;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  display: inline-block;
}
.iconButton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 644px);
  left: 48%;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(1deg);
  transform-origin: 0 0;
}
.howDoesItWork {
  margin: 0;
  position: absolute;
  top: 2903px;
  left: 45%;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  display: inline-block;
}
.iconButton2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - -369px);
  left: 48%;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(1deg);
  transform-origin: 0 0;
}
.howDoesItWork1 {
  margin: 0;
  position: absolute;
  top: 3927px;
  left: 45%;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  display: inline-block;
}
.iconButton3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - -1404px);
  left: 48%;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(1deg);
  transform-origin: 0 0;
}
.howDoesItWork2 {
  margin: 0;
  position: absolute;
  top: 4951px;
  left: 45%;
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-gray-700);
  display: inline-block;
}
.paintingIcon {
  position: absolute;
  top: 2134px;
  left: 45%;
  width: 204px;
  height: 222px;
  overflow: hidden;
}
.salesPersonIcon,
.shareLocationIcon {
  position: absolute;
  top: 5855px;
  left: 60%;
  width: 339px;
  height: 225px;
  overflow: hidden;
}
.shareLocationIcon {
  top: 6297px;
  left: 65%;
  width: 250px;
  height: 330px;
}
.bookAppointmentIcon,
.buildACommunity {
  position: absolute;
  top: 6353px;
  left: 32%;
  width: 370px;
  height: 269px;
  overflow: hidden;
}
.bookAppointmentIcon {
  top: 6887px;
  left: 70%;
  width: 483px;
  height: 281px;
}
.noUpfrontFeesOrRentAComi {
  margin: 0;
  position: absolute;
  top: 5538px;
  left: 15%;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 1280px;
}
.shareSpan2 {
  font-weight: 900;
}
.aSpan2 {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  height: 83.33%;
  width: 20%;
  top: 0;
  right: 85.74%;
  bottom: 16.67%;
  left: 0;
  display: flex;
  align-items: center;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  height: 75%;
  width: 34.78%;
  top: 12.5%;
  right: 14.49%;
  bottom: 12.5%;
  left: 50.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
}
.groupDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupButton,
.signUpA,
.whatIsShareAshelf1 {
  position: absolute;
  height: 66.67%;
  top: 16.67%;
  bottom: 16.67%;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 6.34%;
  right: 0;
  left: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
}
.signUpA,
.whatIsShareAshelf1 {
  display: flex;
  align-items: center;
}
.whatIsShareAshelf1 {
  margin: 0;
  width: 23%;
  right: 40.67%;
  left: 40.73%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  justify-content: center;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  width: 9%;
  right: 6.34%;
  left: 93%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
}
.headerMainsiteDiv,
.rectangleDiv5 {
  position: absolute;
  top: 0;
  height: 60px;
}
.headerMainsiteDiv {
  left: 40px;
  width: 92%;
  text-align: left;
  color: var(--color-red);
}
.rectangleDiv5 {
  left: 5%;
  background-color: var(--m3-sys-light-on-primary);
  width: 90%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv3 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.formFooterDiv {
  position: absolute;
  top: 7168px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.faqsMain {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 7228px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
