@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }




  .frameDiv3{
    width: 95% !important;
  }
  .whatIsShareAshelf{
    left: 50% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 100% !important;
}

  .section1Div,
  .lineDiv1,
  .lineDiv2,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }


}




.accountSettings,
.profileA {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.profileA {
  top: 0;
  font-weight: 700;
}
.accountSettings {
  cursor: pointer;
}
.collaborations {
  top: 68px;
}
.collaborations,
.messages,
.mySpacesForRent,
.payments {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.mySpacesForRent {
  top: 34px;
}
.accountSettings {
  top: 170px;
}
.messages {
  top: 102px;
}
.payments {
  top: 136px;
}
.lineDiv,
.sidebarDiv {
  position: absolute;
}
.sidebarDiv {
  top: 120px;
  left: 40px;
  width: 143px;
  height: 192px;
}
.lineDiv {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 1px;
  height: 3312px;
}
.profileH1 {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.lineDiv1 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 1073px;
  height: 1px;
}
.ifYouHaveAWebsiteFeelFr,
.websiteH1 {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.websiteH1 {
  top: 12px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.ifYouHaveAWebsiteFeelFr {
  top: 62px;
}
.rectangleInput {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 96px;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 40px;
}
.checkmateedinburghcomDiv {
  position: absolute;
  top: 105px;
  left: 21px;
  display: none;
}
.section3Div {
  position: absolute;
  top: 938px;
  left: 328px;
  width: 1072px;
  height: 136px;
}
.shortBioThisIsDisplayed {
  margin: 0;
  position: absolute;
  top: 148px;
  left: 0;
  display: inline-block;
}
.rectangleInput1 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 182px;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 136px;
}
.longBioThisIsDisplayedO {
  margin: 0;
  position: absolute;
  top: 330px;
  left: 0;
  display: inline-block;
}
.rectangleInput3 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 364px;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 136px;
}
.section4Div {
  position: absolute;
  top: 1114px;
  left: 328px;
  width: 1072px;
  height: 500px;
}
.hostTypeH1 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  color: var(--color-black);
  display: inline-block;
  width: 720px;
}
.trailingDataP {
  margin: 0;
  top: 100px;
  right: 848px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingDataP,
.trailingDataP1 {
  position: absolute;
}
.trailingIconFormCheck {
  position: absolute;
  top: 96px;
  right: 1048px;
}
.trailingDataP1 {
  margin: 0;
  top: 136px;
  right: 848px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingDataP2 {
  position: absolute;
}
.trailingIconFormCheck1 {
  position: absolute;
  top: 132px;
  right: 1048px;
}
.trailingDataP2 {
  margin: 0;
  top: 172px;
  right: 848px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 188px;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: 168px;
  right: 1048px;
}
.trailingDataP3,
.trailingDataP4 {
  margin: 0;
  position: absolute;
  top: 212px;
  right: 836px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.trailingDataP4 {
  top: 248px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: 244px;
  right: 1048px;
}
.trailingIconFormCheck4 {
  top: 280px;
}
.trailingDataP5 {
  position: absolute;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: 208px;
  right: 1048px;
}
.trailingDataP5 {
  margin: 0;
  top: 284px;
  right: 836px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 200px;
}
.selectUpToThreeCategories {
  margin: 0;
  position: absolute;
  top: 62px;
  left: 0;
  color: var(--color-black);
  display: inline-block;
}
.section2Div {
  position: absolute;
  top: 594px;
  left: 328px;
  width: 1072px;
  height: 304px;
  color: var(--color-gray-800);
}
.lineDiv4 {
  position: absolute;
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 1361px;
  height: 1px;
}
.addressesOfYourSpaces,
.locationsH2 {
  margin: 0;
  position: absolute;
  top: 56px;
  left: 0;
  display: inline-block;
}
.locationsH2 {
  top: 11px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.burnbankP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.iV327NYP {
  margin: 0;
}
.burnbankBurnsideRoadKingsto,
.burnsideRoadH2 {
  margin: 0;
  position: absolute;
  top: 47px;
  left: 12px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 217px;
}
.burnsideRoadH2 {
  top: 12px;
  font-weight: 700;
  color: var(--color-turquoise);
  height: 23px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--color-red-200);
  text-align: center;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-800);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: transparent;
  right: 12px;
  bottom: 12px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addIcon,
.button,
.frameDiv {
  position: absolute;
  overflow: hidden;
}
.frameDiv {
  top: 97px;
  left: 0;
  border-radius: var(--br-xs);
  border: 3px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  font-size: var(--font-size-lg);
}
.addIcon {
  height: 56.25%;
  width: 56.25%;
  top: 21.88%;
  right: 21.88%;
  bottom: 21.88%;
  left: 21.88%;
  max-width: 100%;
  max-height: 100%;
}
.addButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
}
.frameDiv1 {
  position: absolute;
  top: 97px;
  left: 262px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.section1Div {
  position: absolute;
  top: 194px;
  left: 328px;
  width: 1072px;
  height: 360px;
}
.mainImageThisIsTheMain,
.profilePictureThisIsDisp {
  margin: 0;
  position: absolute;
  top: 374px;
  left: 0;
  display: inline-block;
}
.profilePictureThisIsDisp {
  top: 61px;
}
.rectangleIcon {
  position: absolute;
  background-image: url(../public/rectangle-10@2x.png);
  top: 408px;
  left: 0;
  border-radius: var(--br-xs);
  width: 530px;
  height: 263px;
  object-fit: cover;
}
.buttonInput {
  position: absolute;
  right: 554px;
  bottom: 1070px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  color: var(--color-red-100);
}
.extraImagesAddUpToThree {
  margin: 0;
  position: absolute;
  top: 683px;
  left: 0;
  display: inline-block;
}
.rectangleDiv {
  top: 717px;
}
.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 530px;
  height: 263px;
}
.rectangleDiv1 {
  top: 992px;
}
.rectangleDiv2 {
  top: 1267px;
}
.addInput {
  top: 825px;
}
.addInput,
.addInput1,
.addInput2 {
  position: absolute;
  left: 242px;
  width: 48px;
  height: 48px;
}
.addInput1 {
  top: 1375px;
}
.addInput2 {
  top: 1100px;
}
.buttonInput1,
.frameDiv2 {
  position: absolute;
  overflow: hidden;
}
.buttonInput1 {
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
  color: var(--color-red-100);
}
.frameDiv2 {
  top: 99px;
  left: 0;
  border-radius: var(--br-xs);
  width: 250px;
  height: 263px;
  background-image: url(../public/frame-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangleDiv3,
.section6Div {
  position: absolute;
}
.section6Div {
  top: 1901px;
  left: 328px;
  width: 1072px;
  height: 1530px;
}
.rectangleDiv3 {
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.rentmyshelfIncDiv {
  left: 40px;
}
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  display: inline-block;
}
.supportDiv {
  left: 263px;
}
.contactDiv {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv7 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.footer {
  position: absolute;
  top: 3471px;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.rectangleInput4 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 115px;
  left: 37px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 493px;
  height: 40px;
}
.rectangleInput00 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 115px;
  left: 545px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 493px;
  height: 40px;
}
.rectangleInput01 {
  border: 1px solid var(--color-black);
  background-color: transparent;
  position: absolute;
  top: 115px;
  left: 1045px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.vectorIcon {
  position: absolute;
  top: 123px;
  left: 0;
  width: 24px;
  height: 24px;
}
.addAnotherDiv {
  position: absolute;
  top: 176px;
  left: 236px;
  color: var(--color-red-200);
  display: inline-block;
}
.rectangleButton {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 167px;
  left: 37px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 493px;
  height: 40px;
}
.section5Div {
  position: absolute;
  top: 1654px;
  left: 328px;
  width: 1072px;
  height: 207px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  width: 86.25px;
  height: 40px;
}
.groupDiv {
  top: 0;
  left: 0;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 1274px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 554px;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv3 {
  position: absolute;
  top: 7px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.hostAccount {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: 1136px;
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.hostAccountDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 3531px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
