@media only screen and (min-width: 2500px)  {

  .vendorAccount{
    left: 188% !important;
  }
 
  .lineDiv6{
    width: 200% !important;
  }



  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
  
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
.footerDiv{
  width:50% !important;
}

.section2PrintDiv{
  left: 50% !important;
}
.rectangleDiv{
  width: 155.6% !important;
}

.rectangleDiv1{
  height: 195% !important;
}
.haveSomethingToSellHaveS{
  height: 180% !important;
}
.directionsScanTheQRCodeT{
  top: 120% !important;
}
.qrcodeDiv{
  top: 150% !important;
}

.frameDiv,
.frameDiv1{
  top: 70% !important;
}
.b{
  top: 80% !important;
}
.aShareAshelfCollaboration{
  top: 30% !important;
}
.lineDiv{
  left: 49.5% !important;
}
.section1Div1{
  height: 160% !important;
}
.shareAshelfH1{
  left: 120% !important;
}
.button{
  left: 100% !important;
}




}









.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 223px;
}
.contactDiv,
.termsOfService {
  left: 324px;
}
.termsOfService {
  left: 422px;
}
.footerDiv,
.rectangleDiv {
  position: absolute;
  top: 983px;
  left: 40px;
  width: 546px;
  height: 22px;
}
.rectangleDiv {
  top: -0.5px;
  left: 883.5px;
  background-color: var(--color-red-200);
  width: 680px;
  height: 884px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.rectangleDiv1 {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  width: 836px;
  height: 631px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: -99.45%;
  right: -0.56%;
  bottom: 99.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.qrcodeDiv {
  position: absolute;
  top: 353.5px;
  left: 640.5px;
  width: 180px;
  height: 181px;
}
.haveSomethingToContainer {
  line-break: anywhere;
  width: 100%;
}
.haveSomethingToSellHaveS {
  margin: 0;
  position: absolute;
  top: 574.5px;
  left: 64.5px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 756px;
  height: 50px;
  font-family: var(--font-open-sans);
}
.directionsB {
  font-family: var(--font-nunito);
  color: var(--color-turquoise);
}
.blankLineP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.ifYouPurchaseSomethingPle {
  margin: 0;
}
.directionsScanTheQRCodeT {
  margin: 0;
  position: absolute;
  top: 353.5px;
  left: 64.5px;
  font-size: 22px;
  display: inline-block;
  width: 534px;
  height: 181px;
}
.b {
  position: absolute;
  top: 185.5px;
  left: 416.5px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: flex;
  font-family: var(--font-open-sans);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 44px;
}
.span {
  color: var(--color-gray-500);
}
.vendorI {
  font-weight: 500;
}
.alphaCostumesMakesPremiumC,
.alphaCostumesVendor {
  margin: 0;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.alphaCostumesVendor {
  font-size: inherit;
  width: 299px;
  height: 19px;
  font-family: inherit;
}
.alphaCostumesMakesPremiumC {
  font-size: var(--font-size-base);
  font-weight: 400;
  font-family: var(--font-open-sans);
  width: 300px;
  height: 107px;
}
.frameDiv {
  position: absolute;
  top: 125.5px;
  left: 64.5px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  height: 188px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.checkmateIsASmallCafeLoca {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  display: inline-block;
  width: 300px;
  height: 133px;
  flex-shrink: 0;
}
.frameDiv1 {
  position: absolute;
  top: 125.5px;
  left: 496.5px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.aSpan {
  color: var(--color-gray-900);
}
.aShareSpan {
  font-weight: 900;
}
.aSpan1 {
  font-weight: 500;
  color: var(--color-gray-800);
}
.shelfSpan {
  color: var(--color-turquoise);
}
.shelfCollaborationSpan {
  font-weight: 900;
  color: var(--color-gray-900);
}
.aShareAshelfCollaboration {
  margin: 0;
  position: absolute;
  height: 5.89%;
  width: 85.52%;
  top: 8.17%;
  right: 7.18%;
  bottom: 85.94%;
  left: 7.3%;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--color-red-200);
  font-family: inherit;
}
.section2PrintDiv {
  position: absolute;
  top: 884px;
  left: 680px;
  width: 884px;
  height: 679px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.lineDiv,
.section1Div1 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: -0.5px;
  left: 679.5px;
  border-right: 1px dashed var(--color-black);
  width: 1px;
  height: 885px;
}
.section1Div1 {
  top: 836px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 2px solid var(--color-red-200);
  width: 836px;
  height: 631px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.aSpan2 {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan1 {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfH1 {
  margin: 0;
  position: absolute;
  top: 134px;
  left: 346px;
  font-size: inherit;
  display: flex;
  align-items: center;
  width: 545px;
  height: 60px;
  transform: rotate(90deg);
  transform-origin: 0 0;
  font-family: inherit;
}
.labelText {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  font-family: var(--font-open-sans);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-red-200);
  position: absolute;
  top: 40px;
  left: 219px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 193px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.section1Div {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 631px;
  height: 836px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-red-200);
}
.main,
.rectangleDiv2 {
  position: absolute;
  width: 99%;
  height: 884px;
}
.rectangleDiv2 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.main {
  top: 80px;
  left: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 55%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv2,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360.25px;
  height: 60px;
}
.vendorAccount {
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.header {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.printDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
