@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }

  .vendorAccount{
    left: 188% !important;
  }
 
  .lineDiv6{
    width: 200% !important;
  }
  .footer{
    width: 60% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
  .closeA{
    left: 98% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv1,
  .lineDiv2,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }



}

@media only screen and (min-width: 1740px)  {
.closeIcon{
  left: 1100% !important;
}
}


@media only screen and (max-width: 1440px)  {
  .groupButton{
    left: 105% !important;
  }
  }








.lineDiv,
.lineDiv1 {
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.lineDiv {
  position: absolute;
  top: 205.5px;
  box-sizing: border-box;
}
.lineDiv1 {
  top: 872.5px;
}
.lineDiv1,
.lineDiv2,
.lineDiv3 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv2 {
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.lineDiv3 {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 1804px;
}
.collaborationsH1 {
  margin: 0;
  top: 120px;
  font-weight: 700;
}
.collaborationsH1,
.confirmedCollaborationsDiv,
.shopPageH2 {
  position: absolute;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.shopPageH2 {
  margin: 0;
  top: 218px;
  font-weight: 400;
}
.confirmedCollaborationsDiv {
  top: 885px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.jaimesCafeH6,
.shelfSpace {
  margin: 0;
  position: absolute;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.jaimesCafeH6 {
  top: 145px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.shelfSpace {
  top: 167px;
  color: var(--color-teal);
}
.labelTextDiv,
.p {
  text-align: right;
  display: inline-block;
}
.p {
  margin: 0;
  position: absolute;
  top: 189px;
  left: 11px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-red-200);
}
.button,
.button1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1000);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  position: absolute;
  bottom: 211px;
}
.button1 {
  bottom: 159px;
}
.button1,
.frameDiv,
.p1 {
  position: absolute;
}
.frameDiv {
  top: 935px;
  left: 328px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.p1 {
  margin: 0;
  top: 189px;
  left: 12px;
  text-align: right;
  display: inline-block;
}
.frameDiv1,
.lineDiv4 {
  position: absolute;
  box-sizing: border-box;
}
.frameDiv1 {
  top: 935px;
  left: 590px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.lineDiv4 {
  top: 1346.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.sentRequestsH2 {
  margin: 0;
  position: absolute;
  top: 1359px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.frameDiv2,
.lineDiv5 {
  position: absolute;
  box-sizing: border-box;
}
.frameDiv2 {
  top: 1409px;
  left: 328px;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.lineDiv5 {
  top: 1711.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.receivedNudgesH2 {
  margin: 0;
  position: absolute;
  top: 1724px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.clickOnYourShopPageToA,
.makeSureToPrintOffYourIn {
  margin: 0;
  position: absolute;
  top: 1246px;
  left: 364px;
  display: inline-block;
  width: 1024px;
  height: 69px;
}
.clickOnYourShopPageToA {
  top: 1210px;
  height: 24px;
}
.rectangleDiv,
.rectangleIcon3 {
  position: absolute;
  left: 0;
  width: 250px;
}
.rectangleIcon3 {
  top: 0;
  height: 263px;
  object-fit: cover;
}
.rectangleDiv {
  top: 145px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0), #fff);
  height: 118px;
}
.eachP,
.woodenPotH6 {
  margin: 0;
  position: absolute;
  left: 12px;
  font-weight: 700;
  display: inline-block;
}
.woodenPotH6 {
  top: 207px;
  font-size: inherit;
  font-family: inherit;
  width: 217px;
}
.eachP {
  top: 229px;
  color: var(--color-turquoise);
  width: 226px;
}
.frameDiv3 {
  position: absolute;
  top: 454px;
  left: 328px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.addIcon,
.frameDiv4 {
  position: absolute;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
}
.frameDiv4 {
  top: 454px;
  left: 590px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
  overflow: hidden;
  cursor: pointer;
}
.errorIcon,
.forAddedRigidityWeSuggest {
  position: absolute;
  top: 1210px;
  left: 328px;
  width: 24px;
  height: 24px;
}
.forAddedRigidityWeSuggest {
  margin: 0;
  top: 809px;
  left: 364px;
  display: inline-block;
  width: 1024px;
}
.errorIcon1,
.errorIcon2 {
  position: absolute;
  top: 809px;
  left: 328px;
  width: 24px;
  height: 24px;
}
.errorIcon2 {
  top: 1246px;
}
.theseItemsWillShowOnATem {
  margin: 0;
  position: absolute;
  top: 398px;
  left: 328px;
  display: inline-block;
  width: 1072px;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv6 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.footer {
  position: absolute;
  top: 1963px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.jamiesCafeH6,
.shelfSpace1 {
  margin: 0;
  position: absolute;
  left: 329px;
  width: 217px;
}
.jamiesCafeH6 {
  top: 268px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.shelfSpace1 {
  top: 302px;
  color: var(--color-turquoise);
}
.labelText,
.p3,
.shelfSpace1 {
  display: inline-block;
}
.p3 {
  margin: 0;
  position: absolute;
  top: 336px;
  left: 328px;
  text-align: right;
}
.labelText {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-family: var(--font-open-sans);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--color-red-200);
  position: absolute;
  top: 747px;
  left: 328px;
  border-radius: var(--br-xl);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 157px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.aNudgeFromAHostIsASimpl,
.ameerBarbersP,
.p4 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.aNudgeFromAHostIsASimpl {
  top: 1774px;
  left: 331px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  width: 1069px;
  height: 47px;
}
.ameerBarbersP,
.p4 {
  top: 0;
}
.ameerBarbersP {
  width: 50%;
  left: 125px;
  font-weight: 700;
}
.p4 {
  left: 0;
  color: var(--color-turquoise);
}
.nudges1Div,
.nudges2Div,
.nudges3Div {
  position: absolute;
  top: 1901px;
  left: 328px;
  width: 245px;
  height: 22px;
}
.nudges1Div,
.nudges2Div {
  top: 1867px;
  width: 181px;
}
.nudges1Div {
  top: 1833px;
  width: 207px;
}
.profileA {
  cursor: pointer;
  top: 0;
  width: 92px;
}
.accountSettings,
.collaborations,
.messages,
.payments,
.profileA {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.collaborations {
  top: 34px;
  font-weight: 700;
  width: 221px;
}
.accountSettings,
.messages,
.payments {
  cursor: pointer;
  top: 136px;
  width: 234px;
}
.messages,
.payments {
  top: 68px;
  width: 138px;
}
.payments {
  top: 102px;
  width: 140px;
}
.closeIcon,
.sidebarDiv {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 234px;
  height: 158px;
}
.closeIcon {
  height: 54.58%;
  width: 54.58%;
  top: 22.71%;
  right: 22.71%;
  bottom: 22.71%;
  left: 400%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 217px;
  left: 1360px;
  width: 40px;
  height: 40px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv6 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv5,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.vendorAccount {
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.header {
  position: absolute;
  top: 13px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.shopDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 2023px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
