@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }

  .vendorAccount{
    left: 188% !important;
  }
 
  .lineDiv7,
  .lineDiv8{
    width: 200% !important;
  }
  .footer{
    width: 60% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }

  .h2,
  .h6{
    left: 200% !important;
  }


}

.addInput{
  left: 572.5px !important;
  font-size: xxx-large !important;
}

.addInput1{
  top: 2880px !important;
  font-size: xxx-large !important;
  left: 572.5px !important;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}


.add2Input{
  top: 3140.5px !important;
  font-size: xxx-large !important;
  left: 572.5px !important;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}




.accountSettings,
.collaborations,
.messages,
.payments,
.profileA {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.profileA {
  top: 0;
  font-weight: 700;
  width: 102px;
}
.accountSettings,
.collaborations,
.messages,
.payments {
  cursor: pointer;
  top: 34px;
  width: 209px;
}
.accountSettings,
.messages,
.payments {
  top: 136px;
  width: 238px;
}
.messages,
.payments {
  top: 68px;
  width: 140px;
}
.payments {
  top: 102px;
  width: 142px;
}
.sidebarDiv {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 238px;
  height: 158px;
}
.lineDiv,
.lineDiv1 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 385.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 1073px;
  height: 1px;
}
.lineDiv1 {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 3208px;
}
.profileH1,
.theDistrictCodeOfYourPost {
  margin: 0;
  position: absolute;
  left: 328px;
  display: inline-block;
}
.profileH1 {
  top: 120px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  width: 720px;
}
.theDistrictCodeOfYourPost {
  top: 250px;
  width: 1072px;
  height: 44px;
}
.lineDiv2 {
  position: absolute;
  top: 193.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.localAreaH2 {
  top: 205px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.localAreaH2,
.selectUpToThreeCategories,
.vendorTypeH2 {
  margin: 0;
  position: absolute;
  left: 328px;
  display: inline-block;
}
.vendorTypeH2 {
  top: 398px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.selectUpToThreeCategories {
  top: 448px;
}
.lineDiv3 {
  position: absolute;
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.trailingDataP,
.trailingDataP1 {
  margin: 0;
  position: absolute;
  top: 489px;
  left: 364px;
  letter-spacing: 0.4px;
  line-height: 16px;
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  width: 116px;
  height: 20px;
}
.trailingDataP1 {
  top: 524px;
  height: 17px;
}
.trailingIconFormCheck {
  position: absolute;
  top: 520px;
  left: 328px;
}
.trailingDataP2,
.trailingIconFormCheck1 {
  position: absolute;
  top: 484px;
  left: 328px;
}
.trailingDataP2 {
  margin: 0;
  top: 560px;
  left: 364px;
  letter-spacing: 0.4px;
  line-height: 16px;
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  width: 116px;
  height: 17px;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: 556px;
  left: 328px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: 592px;
  left: 328px;
}
.trailingIconFormCheck4 {
  top: 628px;
}
.trailingDataDiv,
.trailingDataDiv1 {
  position: absolute;
  top: 596px;
  left: 364px;
  letter-spacing: 0.4px;
  line-height: 16px;
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  width: 116px;
  height: 17px;
}
.trailingDataDiv1 {
  top: 633px;
  height: 14px;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: 664px;
  left: 328px;
}
.trailingDataDiv2 {
  position: absolute;
  top: 669px;
  left: 364px;
  letter-spacing: 0.4px;
  line-height: 16px;
  color: var(--color-gray-1000);
  display: flex;
  align-items: center;
  width: 116px;
  height: 15px;
}
.shortBioThisIsDisplayed {
  margin: 0;
  position: absolute;
  top: 1054px;
  left: 328px;
  display: inline-block;
}
.lineDiv4,
.lineDiv5 {
  position: absolute;
  top: 905.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.lineDiv5 {
  top: 1796.5px;
}
.imagesH2,
.rectangleInput {
  position: absolute;
  left: 328px;
}
.imagesH2 {
  margin: 0;
  top: 1808px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.rectangleInput {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  top: 1088px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 136px;
}
.mainImageThisIsTheMain,
.profilePictureThisIsDisp {
  margin: 0;
  position: absolute;
  top: 2171px;
  left: 328px;
  display: inline-block;
}
.profilePictureThisIsDisp {
  top: 1858px;
}
.lineDiv6 {
  position: absolute;
  top: 1445.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.socialMediaH2 {
  margin: 0;
  position: absolute;
  top: 1457px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.linkYourSocialMediaChannel,
.taglineDescribeWhoYouAre {
  margin: 0;
  position: absolute;
  top: 1507px;
  left: 328px;
  display: inline-block;
}
.taglineDescribeWhoYouAre {
  top: 968px;
}
.lineDiv7,
.rectangleInput1 {
  position: absolute;
  box-sizing: border-box;
}
.rectangleInput1 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  top: 1002px;
  left: 328px;
  border-radius: var(--br-xs);
  width: 530px;
  height: 40px;
}
.lineDiv7 {
  top: 729.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.websiteH2 {
  top: 742px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.bioH2,
.ifYouHaveAWebsiteFeelFr,
.websiteH2 {
  margin: 0;
  position: absolute;
  left: 328px;
  display: inline-block;
}
.bioH2 {
  top: 918px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.ifYouHaveAWebsiteFeelFr {
  top: 792px;
}
.rectangleInput2,
.rectangleInput3,
.rectangleInput4 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 826px;
  left: 328px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 530px;
  height: 40px;
}
.rectangleInput3,
.rectangleInput4 {
  top: 306px;
}
.rectangleInput4 {
  top: 1561px;
  left: 365px;
  width: 493px;
}
.longBioThisIsDisplayedO {
  margin: 0;
  position: absolute;
  top: 1236px;
  left: 328px;
  display: inline-block;
}
.rectangleIcon,
.rectangleInput5 {
  position: absolute;
  left: 328px;
  border-radius: var(--br-xs);
  width: 530px;
}
.rectangleInput5 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  top: 1270px;
  box-sizing: border-box;
  height: 136px;
}
.rectangleIcon {
  background-image:url(../public/rectangle-10@2x.png);
  top: 2205px;
  height: 263px;
  object-fit: cover;
}
.buttonInput {
  position: absolute;
  top: 2217px;
  left: 771px;
  color: var(--color-red-200);
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.extraImagesAddUpToThree {
  margin: 0;
  position: absolute;
  top: 2480px;
  left: 328px;
  display: inline-block;
}
.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  top: 2514px;
  left: 328px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 530px;
  height: 263px;
}
.rectangleDiv1,
.rectangleDiv2 {
  top: 2789px;
}
.rectangleDiv2 {
  top: 3064px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-red-200);
  text-align: right;
  display: inline-block;
}
.button,
.frameDiv {
  position: absolute;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-1000);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  top: 1896px;
  left: 328px;
  border-radius: var(--br-xs);
  width: 250px;
  height: 263px;
  background-image: url(../public/frame-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.addAnotherDiv {
  position: absolute;
  top: 9px;
  left: 199px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-red-200);
  text-align: left;
  display: inline-block;
}
.button1,
.rectangleDiv3 {
  position: absolute;
  width: 493px;
  height: 40px;
}
.rectangleDiv3 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1717px;
  left: 365px;
}
.vectorIcon {
  position: absolute;
  top: 1569px;
  left: 328px;
  width: 24px;
  height: 24px;
}
.rectangleInput6,
.rectangleInput7 {
  border: 1px solid var(--color-red-200);
  background-color: transparent;
  position: absolute;
  top: 1613px;
  left: 365px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 493px;
  height: 40px;
}
.rectangleInput7 {
  top: 1665px;
}
.addInput {
  position: absolute;
  top: 2624px;
  left: 570px;
  width: 48px;
  height: 48px;
}
.add2Input,
.addInput1 {
  position: absolute;
  top: 3184.5px;
  left: 580.5px;
  width: 27px;
  height: 27px;
}
.addInput1 {
  top: 2899px;
  left: 570px;
  width: 48px;
  height: 48px;
}
.rectangleDiv4,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 1621px;
  left: 330px;
  width: 20.8px;
  height: 24px;
}
.rectangleDiv4,
.vectorIcon2 {
  top: 1673px;
  left: 328px;
  width: 24px;
}
.rectangleDiv4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  background-color: var(--m3-sys-light-on-primary);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 36.67%;
  width: 12.71%;
  top: 31.67%;
  right: 84.51%;
  bottom: 31.67%;
  left: 2.78%;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  width: 4.24%;
  right: 77.5%;
  left: 18.26%;
}
.contactDiv,
.termsOfService {
  width: 4.03%;
  right: 70.69%;
  left: 25.28%;
}
.termsOfService {
  width: 8.61%;
  right: 59.31%;
  left: 32.08%;
}
.lineDiv8 {
  position: absolute;
  height: 1.67%;
  width: 100.07%;
  top: -0.83%;
  right: -0.03%;
  bottom: 99.17%;
  left: -0.03%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.footer {
  position: absolute;
  top: 3367px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv1,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.vendorAccount {
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.header {
  position: absolute;
  top: 9px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.vendorAccountDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 3427px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
