@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .vendorAccount{
    left: 188% !important;
  }
  .addInput1{
    top: 1140px !important;
  }
  .addInput2{
    top: 1390px !important;
  }
  .footer,
  .lineDiv7{
    width: 100% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
.closeIcon{
  left: 3500% !important;
}
.replyIcon{
  left: 3450% !important;
}
  .linewali,
  .lineDiv00,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }

  .h2,
  .h6{
    left: 200% !important;
  }

  .closeButton{
    left: 230% !important;
  }
  .replyButton{
    left: 225% !important;
  }

}










.lineDiv,
.lineDiv1 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv {
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 100%;
  height: 1px;
}
.lineDiv1 {
  top: 119.5px;
  left: 299.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 805px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv2 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.groupFooter {
  position: absolute;
  top: 964px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv1,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.vendorAccount {
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.frameDiv {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.inboxA,
.sentA {
  text-decoration: none;
  position: absolute;
  top: 206px;
  color: inherit;
  display: inline-block;
}
.inboxA {
  cursor: pointer;
  left: 328px;
  font-weight: 700;
}
.sentA {
  left: 411px;
}
.frameIcon {
  position: absolute;
  top: 184px;
  left: 318px;
  width: 1092px;
  height: 20px;
}
.messagesH1,
.profileDiv {
  position: absolute;
  display: inline-block;
}
.messagesH1 {
  margin: 0;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  width: 720px;
}
.profileDiv {
  top: 0;
  left: 0;
  width: 96px;
}
.accountSettingsDiv,
.collaborationsDiv,
.messagesB,
.paymentsDiv {
  position: absolute;
  top: 34px;
  left: 0;
  display: inline-block;
  width: 214px;
}
.accountSettingsDiv,
.messagesB,
.paymentsDiv {
  top: 136px;
  width: 243px;
}
.messagesB,
.paymentsDiv {
  top: 68px;
  width: 151px;
}
.paymentsDiv {
  top: 102px;
  width: 145px;
}
.lineDiv3,
.lineDiv00,
.sidebarDiv {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 100%;
  height: 158px;
}
.lineDiv00 {
  top: 172.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.lineDiv3 {
  top: 272.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.closeIcon {
  position: absolute;
  height: 54.58%;
  width: 54.58%;
  top: 22.71%;
  right: 22.71%;
  bottom: 22.71%;
  left: 22.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 145%;
  width: 40px;
  height: 40px;
}
.sent080420220635,
.subjectREOpenSpaceOnCou {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.sent080420220635 {
  top: 68px;
}
.helloP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.thanksP {
  margin: 0;
}
.helloLookingForwardToHavi {
  margin: 0;
  position: absolute;
  top: 130px;
  left: 0;
  display: inline-block;
  width: 1072px;
  height: 118px;
}
.fromAlphaCostumes,
.subjectOpenSpaceOnCounter {
  margin: 0;
  position: absolute;
  top: 362px;
  left: 0;
  color: var(--color-gray-500);
  display: inline-block;
}
.fromAlphaCostumes {
  top: 328px;
}
.sent070420221235 {
  top: 396px;
  color: var(--color-gray-500);
}
.fromCheckmateH6,
.sent070420221235,
.whatTimeWouldYouLikeMeTo {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}
.whatTimeWouldYouLikeMeTo {
  top: 458px;
  color: var(--color-gray-500);
  width: 1072px;
  height: 104px;
}
.fromCheckmateH6 {
  top: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lineDiv4 {
  position: absolute;
  top: 287.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.replyIcon {
  position: absolute;
  height: 56.98%;
  width: 73.54%;
  top: 22.19%;
  right: 12.5%;
  bottom: 20.83%;
  left: 13.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.replyA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 140%;
  width: 40px;
  height: 40px;
}
.inboxDiv {
  position: absolute;
  top: 285px;
  left: 328px;
  width: 1072px;
  height: 562px;
}
.vendorInboxDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
