@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }

  .vendorAccount{
    left: 188% !important;
  }
 
  .lineDiv7,
  .lineDiv8{
    width: 200% !important;
  }
  .footer{
    width: 60% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }



}










.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1440px;
  background-color: var(--m3-sys-light-on-primary);
  width: 1440px;
  height: 60px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  top: 19px;
  left: 40px;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  left: 263px;
}
.contactDiv,
.termsOfService {
  left: 364px;
}
.termsOfService {
  left: 462px;
}
.lineDiv {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.footer {
  position: absolute;
  top: 1268px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-open-sans);
}
.lineDiv1,
.lineDiv2 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv1 {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  width: 1px;
  height: 1109px;
}
.lineDiv2 {
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-turquoise);
  width: 200%;
  height: 1px;
}
.earningsH1 {
  top: 12px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.collectiveTotalsH6,
.earningsH1,
.h2 {
  margin: 0;
  position: absolute;
  left: 0;
}
.collectiveTotalsH6 {
  top: 62px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.h2 {
  top: 131px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-turquoise);
  display: flex;
  align-items: center;
  width: 146px;
  height: 41px;
}
.thisWeekP {
  top: 96px;
  display: inline-block;
}
.h21,
.thisMonthP,
.thisWeekP {
  margin: 0;
  position: absolute;
  left: 0;
}
.h21 {
  top: 219px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-turquoise);
  display: flex;
  align-items: center;
  width: 146px;
  height: 41px;
}
.thisMonthP {
  top: 184px;
  display: inline-block;
}
.h22 {
  top: 307px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-turquoise);
  display: flex;
  align-items: center;
  width: 146px;
  height: 41px;
}
.h22,
.h23,
.thisYearP {
  margin: 0;
  position: absolute;
  left: 0;
}
.thisYearP {
  top: 272px;
  display: inline-block;
}
.h23 {
  top: 395px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  font-family: var(--font-nunito);
  color: var(--color-turquoise);
  display: flex;
  align-items: center;
  width: 146px;
  height: 41px;
}
.allTimeP {
  top: 360px;
  left: 0;
}
.allTimeP,
.danFineArt,
.p,
.p1,
.totalsByCollaboration {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.totalsByCollaboration {
  top: 476px;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.danFineArt,
.p,
.p1 {
  top: 0;
  left: 224px;
}
.p,
.p1 {
  left: 377px;
}
.p1 {
  left: 0;
}
.hColl1Div,
.hColl2Div,
.hColl3Div,
.section2Div {
  position: absolute;
  top: 578px;
  left: 0;
  width: 405px;
  height: 22px;
}
.hColl1Div,
.hColl2Div,
.section2Div {
  top: 544px;
}
.hColl1Div,
.section2Div {
  top: 510px;
}
.section2Div {
  top: 628px;
  left: 328px;
  width: 1072px;
  height: 600px;
}
.payoutAccountH2 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 217px;
}
.accountNoP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p7 {
  margin: 0;
}
.accountNo3842847389SortCo,
.santanderH2 {
  margin: 0;
  position: absolute;
  top: 109px;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.santanderH2 {
  top: 74px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-turquoise);
  height: 23px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--color-red-200);
  text-align: center;
  display: inline-block;
}
.button,
.frameDiv {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: transparent;
  right: 12px;
  bottom: 12px;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  top: 97px;
  left: 0;
  border-radius: var(--br-xs);
  border: 3px solid var(--color-turquoise);
  width: 250px;
  height: 263px;
}
.addIcon {
  height: 56.25%;
  width: 56.25%;
  top: 21.88%;
  right: 21.88%;
  bottom: 21.88%;
  left: 21.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add,
.addIcon,
.frameDiv1 {
  position: absolute;
}
.add {
  text-decoration: none;
  top: 107px;
  left: 101px;
  width: 48px;
  height: 48px;
}
.frameDiv1 {
  top: 96px;
  left: 262px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-400);
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.savedBankAccounts {
  margin: 0;
  position: absolute;
  top: 62px;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
}
.paymentsH1,
.section1Div {
  position: absolute;
  left: 328px;
}
.section1Div {
  top: 194px;
  width: 1072px;
  height: 360px;
  font-size: var(--font-size-lg);
}
.paymentsH1 {
  margin: 0;
  top: 120px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.lineDiv4 {
  position: absolute;
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv1 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 55% ;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv2,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.vendorAccount {
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.headerDiv {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.collaborations,
.profileA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  display: inline-block;
  width: 92px;
}
.collaborations {
  top: 34px;
  width: 204px;
}
.accountSettings {
  cursor: pointer;
  top: 136px;
  width: 232px;
}
.accountSettings,
.messages,
.payments {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.messages {
  cursor: pointer;
  top: 68px;
  width: 137px;
}
.payments {
  top: 102px;
  font-weight: 700;
  width: 150px;
}
.sidebarDiv {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 232px;
  height: 158px;
}
.vendorPaymentsDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1328px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
