@media only screen and (min-width: 2500px)  {
  .mySpacesForRent{
    width: 102% !important;
  }
  .hostAccount{
    left: 92% !important;
  }

  .vendorAccount{
    left: 188% !important;
  }
 
  .lineDiv7,
  .lineDiv8{
    width: 200% !important;
  }
  .footer{
    width: 60% !important;
  }

  .delbtn{
    left: 120px !important;
  }


  .frameDiv3{
    width: 100% !important;
  }
  .whatIsShareAshelf{
    left: 90% !important;
  }
  .signUpA{
    left: 95% !important;
    width: 20% !important;
  }
 
  .hostAccountDiv{
    left: 191% !important;
  }
  .groupButton{
    border-radius: 20px !important;
    left: 199% !important;
}
  .linewali,
  .lineDiv,
  .lineDiv2,
  .lineDiv3,
  .lineDiv5,
  .lineDiv4{
    width: 235%!important;
  }
  .checkmateIsASmallCafeLoca{
        font-weight: 500 !important;
        width: 100% !important;
  }

  .groupFooter{
    width: 100% !important;
  }

  .h2,
  .h6{
    left: 200% !important;
  }


}









.rectangleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  background-color: var(--m3-sys-light-on-primary);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.contactDiv,
.rentmyshelfIncDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 36.67%;
  width: 12.71%;
  top: 31.67%;
  right: 84.51%;
  bottom: 31.67%;
  left: 2.78%;
  display: inline-block;
}
.contactDiv,
.supportDiv,
.termsOfService {
  width: 4.24%;
  right: 77.5%;
  left: 18.26%;
}
.contactDiv,
.termsOfService {
  width: 4.03%;
  right: 70.69%;
  left: 25.28%;
}
.termsOfService {
  width: 8.61%;
  right: 59.31%;
  left: 32.08%;
}
.lineDiv {
  position: absolute;
  height: 1.67%;
  width: 100.07%;
  top: -0.83%;
  right: -0.03%;
  bottom: 99.17%;
  left: -0.03%;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.footerDiv {
  position: absolute;
  top: 1296px;
  left: 0;
  width: 100%;
  height: 60px;
  color: var(--color-gray-600);
}
.profileA {
  cursor: pointer;
  top: 0;
  width: 89px;
}
.accountSettings,
.collaborations,
.messages,
.payments,
.profileA {
  text-decoration: none;
  position: absolute;
  left: 0;
  color: inherit;
  display: inline-block;
}
.collaborations {
  top: 34px;
  font-weight: 700;
  width: 213px;
}
.accountSettings,
.messages,
.payments {
  cursor: pointer;
  top: 136px;
  width: 226px;
}
.messages,
.payments {
  top: 68px;
  width: 133px;
}
.payments {
  top: 102px;
  width: 135px;
}
.lineDiv1,
.sidebarDiv {
  position: absolute;
  top: 120px;
  left: 40px;
  width: 226px;
  height: 158px;
}
.lineDiv1 {
  top: 119.5px;
  left: 287.5px;
  border-right: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 1px;
  height: 1137px;
}
.receivedNudgesH2 {
  top: 0;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 400;
  font-family: var(--font-nunito);
  width: 720px;
}
.aNudgeFromAHostIsASimpl,
.bobsCafeP,
.p,
.receivedNudgesH2 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.aNudgeFromAHostIsASimpl {
  top: 50px;
  left: 3px;
  width: 1069px;
  height: 47px;
}
.bobsCafeP,
.p {
  top: 109px;
}
.bobsCafeP {
  left: 125px;
  font-weight: 700;
}
.p {
  left: 0;
  color: var(--color-turquoise);
}
.amelieP {
  top: 143px;
  left: 125px;
  font-weight: 700;
}
.ameerBarbersP,
.amelieP,
.p1,
.p2 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.p1 {
  top: 143px;
  left: 0;
  color: var(--color-turquoise);
}
.ameerBarbersP,
.p2 {
  top: 177px;
}
.ameerBarbersP {
  left: 125px;
  font-weight: 700;
}
.p2 {
  left: 0;
  color: var(--color-turquoise);
}
.lineDiv2,
.section3Div {
  position: absolute;
  top: 1057px;
  left: 328px;
  width: 100%;
  height: 199px;
}
.lineDiv2 {
  top: 1044.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.sentRequestsH2 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 720px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 133px;
  object-fit: cover;
}
.theBullH2,
.wallSpaceLeftOfEntrance {
  margin: 0;
  position: absolute;
  left: 12px;
  display: inline-block;
  width: 217px;
}
.theBullH2 {
  top: 145px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.wallSpaceLeftOfEntrance {
  top: 167px;
  color: var(--color-teal);
}
.labelTextDiv,
.p3 {
  text-align: right;
  display: inline-block;
}
.p3 {
  margin: 0;
  position: absolute;
  top: 189px;
  left: 12px;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-red-200);
}
.button,
.frameDiv {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-1000);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  bottom: 211px;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  top: 50px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.section2Div {
  position: absolute;
  top: 692px;
  left: 328px;
  width: 720px;
  height: 313px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-nunito);
}
.lineDiv3 {
  position: absolute;
  top: 679.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.clickOnYourProductsPage,
.makeSureToPrintOffYourIn {
  margin: 0;
  position: absolute;
  top: 311px;
  left: 36px;
  display: inline-block;
  width: 1024px;
  height: 69px;
}
.clickOnYourProductsPage {
  top: 275px;
  height: 24px;
}
.errorIcon,
.errorIcon1 {
  position: absolute;
  top: 275px;
  left: 0;
  width: 24px;
  height: 24px;
}
.errorIcon1 {
  top: 311px;
}
.button2,
.frameDiv1 {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-1000);
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--m3-sys-light-on-primary);
  right: 12px;
  bottom: 159px;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frameDiv1 {
  top: 0;
  left: 262px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  width: 250px;
  height: 263px;
}
.shelfSpaceB {
  top: 145px;
  left: 12px;
  width: 217px;
}
.div,
.jamesCafeDiv,
.shelfSpaceB {
  position: absolute;
  display: inline-block;
}
.jamesCafeDiv {
  top: 167px;
  left: 12px;
  color: var(--color-teal);
  width: 217px;
}
.div {
  top: 189px;
  left: 11px;
  text-align: right;
}
.labelTextDiv3 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.buttonDiv {
  bottom: 211px;
  text-align: right;
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
  font-family: var(--m3-label-large1);
}
.buttonA,
.buttonDiv,
.buttonDiv1 {
  position: absolute;
  right: 12px;
  border-radius: var(--br-2xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.buttonDiv1 {
  bottom: 159px;
  text-align: right;
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
  font-family: var(--m3-label-large1);
}
.buttonA {
  cursor: pointer;
  text-decoration: none;
  bottom: 12px;
  color: inherit;
}
.confirmCancellationH6 {
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: var(--font-size-base);
  font-weight: 700;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 202px;
}
.closeIcon {
  position: absolute;
  height: 54.79%;
  width: 54.79%;
  top: 22.6%;
  right: 22.6%;
  bottom: 22.6%;
  left: 22.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.closeA {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 12px;
  left: 214px;
  width: 24px;
  height: 24px;
}
.frameDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
  text-align: right;
  font-size: var(--m3-label-large1-size);
  color: var(--color-red-200);
  font-family: var(--m3-label-large1);
}
.shelfSpaceH6 {
  top: 41px;
  left: 13px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 217px;
}
.cannotBeUndoneBeSureToC,
.jamesCafeP,
.p5,
.shelfSpaceH6 {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.jamesCafeP {
  top: 63px;
  left: 13px;
  color: var(--color-teal);
  width: 217px;
}
.cannotBeUndoneBeSureToC,
.p5 {
  left: 12px;
}
.p5 {
  top: 85px;
  text-align: right;
}
.cannotBeUndoneBeSureToC {
  top: 107px;
  font-weight: 600;
  color: var(--color-red-300);
  width: 226px;
  height: 87px;
}
.frameDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 250px;
  height: 263px;
  overflow: hidden;
}
.section1Div {
  position: absolute;
  top: 268px;
  left: 328px;
  width: 1060px;
  height: 380px;
}
.confirmedCollaborationsDiv {
  position: absolute;
  top: 218px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.lineDiv4 {
  position: absolute;
  top: 205.5px;
  left: 327.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.collaborationsH1 {
  margin: 0;
  position: absolute;
  top: 120px;
  left: 328px;
  font-size: var(--font-size-2xl);
  line-height: 140%;
  font-weight: 700;
  font-family: var(--font-nunito);
  display: inline-block;
  width: 720px;
}
.lineDiv5 {
  position: absolute;
  top: 79.5px;
  left: 39.5px;
  border-top: 1px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-1000);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv6 {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-1000);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius:20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 130%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
  align-items: center;
  height: 40px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 58%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  width: 253px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 1200px;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: none;
  width: 62px;
}
.frameDiv4,
.vendorAccount {
  position: absolute;
  top: 0;
  left: 0;
  width: 1360.25px;
  height: 60px;
}
.vendorAccount {
  cursor: pointer;
  text-decoration: none;
  top: 10px;
  left: 120%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 156px;
  height: 40px;
}
.header {
  position: absolute;
  top: 12px;
  left: 40px;
  width: 1360.25px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-red-200);
  font-family: var(--font-nunito);
}
.vendorCollaborationsEditDiv {
  position: relative;
  background-color: var(--m3-sys-light-on-primary);
  width: 100%;
  height: 1356px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
