.legend {
  float: left;
  color: var(--bs-orange);
  width: 25%;
  background: white;
  padding: 0;
  margin-left: 38%;
  font-size: 12px;
  margin-top: -12px;
}
@media only screen and (min-width: 2500px)  {
  .frameDiv{
    width: 95% !important;
  }
  .whatIsShareAshelf{
    left: 50% !important;
  }
  .fieldDiv{
        width: 50% !important;
        left: -35px !important;
  }
  .frameAntDropdown{
    left: 10%!important;
    top: -10px !important;
  }
  .anticon svg {
    font-size: 20px !important;
  }
  .trailingIconFormCheck, 
  .trailingIconFormCheck1,
  .trailingIconFormCheck2,
  .trailingIconFormCheck3,
  .trailingIconFormCheck4,
  .trailingIconFormCheck5{
    right: 97.5% !important;
  }
  .trailingDataP,
  .trailingDataP1,
  .trailingDataP2,
  .trailingDataP3,
  .trailingDataP4,
  .trailingDataP5{
    right: 90.5% !important;
  }
  .rectangleIframe{
    width: 87% !important;
  }
  .zoomInIcon,
.zoomOutIcon{
  width: 275% !important;
}
.trailingDataP3{
    top: 345px !important;
    left: 2.9% !important;
}

.trailingDataP4,
.trailingDataP5{
  left: 2.9% !important;
}

.hostCategoriesH6{
  left: 55px !important;
}
.signUpA{
  left: 97.3% !important;
}

}

@media only screen  and (max-width: 1440px) { 
.trailingIconFormCheck,
.trailingIconFormCheck1,
.trailingIconFormCheck2,
.trailingIconFormCheck3,
.trailingIconFormCheck4,
.trailingIconFormCheck5{
  right: 95% !important;
}
.groupButton{
  left: 100% !important;
}
.signUpA{
  left: 95%!important;
}
.legend {
    width: 30% !important;
}
.rectangleIframe{
   width: 78% !important;
}

.hostCategoriesH6{
  left: 3% !important;
}
.frameDiv{
  width: 91% !important;
}
.zoomInIcon,
.zoomOutIcon{
  left: 74% !important;
}
.whatIsShareAshelf{
  left: 45% !important;
}
 .trailingDataP,
  .trailingDataP1,
  .trailingDataP2,
  .trailingDataP3,
  .trailingDataP4,
  .trailingDataP5{
  right: 82% !important;
}



}


@media only screen and (max-width: 1024px) { 
  .trailingIconFormCheck,
.trailingIconFormCheck1,
.trailingIconFormCheck2,
.trailingIconFormCheck3,
.trailingIconFormCheck4,
.trailingIconFormCheck5{
  right: 94% !important;
}
.groupButton{
  left: 100% !important;
}

.signUpA{
  left: 93%!important;
}
 .trailingDataP,
  .trailingDataP1,
  .trailingDataP2,
  .trailingDataP3,
  .trailingDataP4,
  .trailingDataP5{
  right: 75% !important;
}
.frameDiv{
  width: 88% !important;
}
.rectangleIframe {
    width: 68%!important;
}
.hostCategoriesH6,
.mobileMenuDiv {
    left: 5%!important;
    }
    
}








.rectangleDiv {
  position: absolute;
  top: 172px;
  left: 40px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  border: 2px solid var(--color-turquoise);
  box-sizing: border-box;
  width: 260px;
  height: 792px;
  cursor: pointer;
}
.label {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 16px;
  display: inline-block;
}
.floatingLabelDiv,
.trailingDataP {
  position: absolute;
  display: flex;
  align-items: center;
}
.floatingLabelDiv {
  top: 164px;
  left: 144px;
  background-color: var(--color-gray-200);
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-turquoise);
}
.trailingDataP {
  margin: 0;
  height: calc(100% - 1008px);
  top: 232px;
  right: 85%;
  bottom: 776px;
  letter-spacing: 0.4px;
  line-height: 16px;
  width: 10%;
}
.trailingIconFormCheck {
  position: absolute;
  top: calc(50% - 284px);
  right: 96.5%;
}
.trailingDataP1 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 268px;
  right: 85%;
  bottom: 740px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 10%;
}
.trailingIconFormCheck1 {
  position: absolute;
  top: calc(50% - 248px);
  right: 96.5%;
}
.trailingDataP2 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 304px;
  right: 85%;
  bottom: 704px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 10%;
}
.trailingIconFormCheck2 {
  position: absolute;
  top: calc(50% - 212px);
  right: 96.5%;
}
.trailingDataP3,
.trailingDataP4 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 336px;
  right: 85%;
  bottom: 672px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 10%;
}
.trailingDataP4 {
  top: 380px;
  bottom: 628px;
}
.trailingIconFormCheck3,
.trailingIconFormCheck4 {
  position: absolute;
  top: calc(50% - 136px);
  right: 96.5%;
}
.trailingIconFormCheck4 {
  top: calc(50% - 172px);
}
.trailingDataP5 {
  margin: 0;
  position: absolute;
  height: calc(100% - 1008px);
  top: 416px;
  right: 85%;
  bottom: 592px;
  letter-spacing: 0.4px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 10%;
}
.trailingIconFormCheck5 {
  position: absolute;
  top: calc(50% - 100px);
  right: 96.5%;
}
.productCategoriesH6 {
  margin: 0;
  position: absolute;
  top: 194px;
  left: 2.5%;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
}
.rectangleIframe {
  border-radius: 20px;
  border: 1px solid #81D0D8;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 884px;
  cursor: pointer;
}
.arrowForwardIosIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.iconButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs);
  background-color: var(--color-red);
  position: absolute;
  top: calc(50% - 402px);
  left: 40px;
  border-radius: var(--br-xl);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon,
.zoomOutIcon {
  position: absolute;
  top: 80px;
  left: 77%;
  width: 40px;
  height: 40px;
}
.locationOnIcon,
.mapSectionDiv,
.zoomInIcon {
  top: 40px;
}
.locationOnIcon,
.mapSectionDiv {
  top: 599px;
  left: 200px;
}
.mapSectionDiv {
  top: 80px;
  left: 340px;
  width: 100%;
  height: 884px;
}
.contactDiv,
.shareAshelfLtdDiv,
.supportDiv,
.termsOfService {
  position: absolute;
  height: 100%;
  width: 11.17%;
  top: 0;
  right: 47.99%;
  bottom: 0;
  left: 40.84%;
  display: inline-block;
}
.contactDiv,
.shareAshelfLtdDiv,
.termsOfService {
  width: 10.62%;
  right: 30.04%;
  left: 59.34%;
}
.shareAshelfLtdDiv,
.termsOfService {
  width: 22.71%;
  right: 0;
  left: 77.29%;
}
.shareAshelfLtdDiv {
  width: 32.78%;
  right: 67.22%;
  left: 0;
}
.footerHostsDiv {
  position: absolute;
  top: 983px;
  left: 40px;
  width: 555px;
  height: 22px;
  color: var(--color-gray-500);
}
.shareSpan {
  font-weight: 900;
}
.aSpan {
  font-weight: 500;
  color: var(--color-gray-700);
}
.shelfSpan {
  font-weight: 900;
  color: var(--color-turquoise);
}
.shareAshelfTxtSpan {
  line-break: anywhere;
  width: 100%;
}
.shareAshelf {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 198px;
  height: 60px;
  color: inherit;
}
.userImagesUserImages {
  position: relative;
  border-radius: var(--br-xl);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.labelTextDiv {
  position: relative;
  font-size: var(--m3-label-large1-size);
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-label-large1);
  color: var(--m3-sys-light-on-surface-variant1);
  text-align: center;
  display: none;
}
.inputChipDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 86.25px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-2xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.menuIcon,
.menuIcon1 {
  position: absolute;
  top: 5px;
  left: 43.75px;
  width: 30px;
  height: 30px;
}
.menuIcon1 {
  height: 35.16%;
  width: 25.36%;
  top: 32.42%;
  right: 19.2%;
  bottom: 32.42%;
  left: 55.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupButton,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.25px;
  height: 40px;
}
.groupButton {
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 97%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.whatIsShareAshelf {
  margin: 0;
  left: 44%;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 253px;
  height: 40px;
}
.frameDiv,
.signUpA,
.whatIsShareAshelf {
  position: absolute;
  top: 10px;
}
.signUpA {
  cursor: pointer;
  text-decoration: none;
  left: 90%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
  color: var(--color-turquoise);
  text-align: right;
  display: flex;
  align-items: center;
  width: 20%;
  height: 40px;
}
.frameDiv {
  left: 40px;
  width: 95%;
  height: 60px;
  font-size: var(--font-size-3xl);
  color: var(--color-red);
  font-family: var(--font-nunito);
}


.submenu {
  margin-left: 30px;
  text-decoration: none;
  color: var(--color-black);
}
.submenu a{
  text-decoration: none;
  color: var(--color-black);
}

.fieldDiv,
.frameAntDropdown {
  text-decoration: none;
  color: var(--color-black);
  position: absolute;
  top: 0;
  left: 25px;
  font-size: xx-large;
}

.fieldDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
}
.mobileMenuDiv {
  position: absolute;
  height: 5.84%;
  width: 12.06%;
  top: 7.81%;
  right: 79.17%;
  bottom: 86.35%;
  left: 2.78%;
  cursor: pointer;
}
.vendorsDiv {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-open-sans);
}
